*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", serif;
  font-weight: 100;
}

body {
  max-width: 1275px;
  max-height: 1472px;
  margin: auto;
}

nav {
  display: grid;
  grid-template-columns: repeat(8, 100px) 125px;
  border-radius: 4px;
  background: linear-gradient(#727272 50%, #8a8a8a 50%);
  width: 950px;
  top: 75px;
  position: absolute;
}

nav button {
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  border-right: 1px solid #505050;
  cursor: pointer;
}

nav button:hover {
  background-color: #3a3a3a;
  opacity: 0.5;
}

button[name=apple] {
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  width: 15px;
}

nav span {
  position: relative;
}

nav span input {
  border-radius: 25px;
  width: 110px;
  background: transparent;
  padding-left: 15px;
  margin: 5px;
}

nav span img {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 12px 0 0 10px;
  filter: invert(1);
}

main {
  background: url('images/background.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 475px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

main a {
  color: white;
  padding: 0 250px 10px 250px;
  text-align: center;
  text-decoration: none;
}

main a h2 {
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}

main a p {
  font-size: 25px;
}

.verse {
  margin: 15px 0 115px 0;
  font-size: 20px;
  align-items: center;
  display: flex;
}

.verse:hover {
  text-decoration: underline;
}

.verse img {
  width: 30px;
  margin-left: 10px;
}

section {
  display: flex;
  margin: auto;
  width: 100%;
}

section * {
  width: 26%;
  min-height: 175px;
  max-height: 200px;
  margin: 2px;
}

.forward {
  background: url('images/forward.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.colorful {
  background: url('images/colorful.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.birthday {
  background: url('images/birthday.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.responsibility {
  background: url('images/responsibility.png');
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px auto 25px auto;
  width: 100%;
}

footer * {
  font-size: 10px;
}

.shop p,
.links {
  padding-top: 15px;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 475px;
  color: rgb(110, 110, 110);
}

.shop a {
  color: rgb(0, 136, 204);
  text-decoration: none;
}

.links a {
  color: rgb(0, 136, 204);
  border-right: 1.5px solid #d1d1d1;
  padding: 0 10px;
  text-decoration: none;
}

.shop a:hover {
  color: rgb(0, 136, 204);
}

.links {
  display: grid;
  grid-auto-flow: column;
}

.links * {
  place-self: center;
}

.links img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
