*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1450px;
  min-width:1024px;
  min-height:830px;
  height:830px;
  max-height:1472px;
  margin: auto;
}

nav {
  display: grid;
  grid-template-columns: repeat(8, 100px) 125px;
  border-radius: 4px;
  background: gray;
  width: 950px;
  margin: 0 250px 425px 250px;
  position: absolute;

}

nav button {
  background: transparent;
  border: none;
  color: white;
  padding: 10px 5px;
  border-right: 1px solid black;
}

nav input {
  border-radius: 25px;
  width: 110px;
  margin: auto;
  background: transparent;
}

main {
  background: url('images/background.png');
  background-size: 100% ;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 1450px;
  height: 1180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: Lucida, sans-serif;
  position: relative;
}

main a{
	color: white;
	padding: 0 300px 10px 300px;
  font-family: Lucida, sans-serif;
  text-align: center;
  text-decoration: none;

}

main a h2{
	font-size: 50px;
	color: white;
	padding-bottom: 20px;
}

main a p {
 font-size: 30px;
}

.verse {
  margin: 15px 0 150px 0;
  font-size: 25px;
}

.verse:hover {
  text-decoration: underline;
}

section {
  display: flex;
  margin: auto;
  width: 1450px;
}

section * {
  width: 26%;
  height: 200px;
  margin: 2px;

}

.forward {
  background: url('images/forward.png');
  background-size: contain;
}

.colorful {
  background: url('images/colorful.png');
  background-size: contain;
}

.birthday {
  background: url('images/birthday.png');
  background-size: contain;
}
.responsibility {
  background: url('images/responsibility.png');
  background-size: contain;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 0 25px 0;
  line-height: 25px;
}

footer * {
  font-size: 10px;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 400px;
	font-family: Lucida Grande;
	font-size: 10px;
	color: rgb(110,110,110);
}

.shop a{
	color: rgb(0, 136, 204);
	text-decoration: none;
}
.shop a:hover{
	color: rgb(0, 136, 204);
}

.links {
  display: grid;
  grid-auto-flow: column;
}

.links * {
  place-self: center;
}

.links a{
	font-family: Lucida, Grande;
	color: rgb(0, 136, 204);
	border-right: 1px solid  rgb(0, 136, 204);
	padding: 0 10px;
	text-decoration: none;
}

.links img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
